* {
  box-sizing: border-box;
}

.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.weather-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  border-radius: 10px;
}

.content {
  max-width: 600px;
  padding: 12px 20px;
  background-color: rgba(255, 255, 255, 0.425);
  border-radius: inherit;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.btn-style {
  border: none;
  background-color: black;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5em;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border: 2px solid #e7ece7;
}

.btn-style:hover {
  background-color: bisque;
  color: black;
}

.in-style {
  border-radius: 1em;
  border: 2px solid #0b0c0b;
  margin-right: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding: 10px 20px 12px 40px;
  width: 100%;
  font-size: 16px;
}

.search-style {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  position: relative;
}

.search-style img {
  width: 30px;
  position: absolute;
  left: 10px;
  top: 10px;
}

.img-style {
  max-width: 100%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.section-style {
  display: flex;
  align-items: center;
}

h1,
h2 {
  text-align: center;
}

h3{
  text-align: center;
}

h5 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.caracters-style span{
  font-style: normal;
  font-weight: bold;
  color: rgb(8, 1, 14);
}

.btn2-style {
  display: flex;
  margin: auto;
  border-radius: 2em;
  cursor: pointer;
  padding: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: burlywood;
  color: black;
  border: 2px solid #0b0c0b;
}

.btn2-style:hover{
  background-color: black;
  color: beige;
}

.load-style{
  text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
    0px 0px 20px #b393d3;
}

#loader {
  width: 100%;
  height: 100vh;
  display: grid;
  background-color: #0f0f0f;
  z-index: 3000;
  margin: 0 auto;
  place-content: center;
  position: fixed;
}

.text-load {
  padding-top: 20px;
  position: relative;
  color: #fff;
  margin-top: 2em;
  letter-spacing: 1em;
  text-transform: uppercase;
}

.content-loader {
  width: 180px;
  height: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 auto;
}

.content-loader div {
  width: 30px;
  height: 30px;
  background-color: #fff;
  animation: salto 1s alternate infinite;
}

.content-loader div:nth-child(2) {
  animation-delay: 0.2s;
}
.content-loader div:nth-child(3) {
  animation-delay: 0.4s;
}
.content-loader div:nth-child(4) {
  animation-delay: 0.6s;
}
@keyframes salto {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}



.error-text{
  text-shadow: 0px 0px 5px #d6c0ec, 0px 0px 10px #252427, 0px 0px 10px #d5d1da,
    0px 0px 20px #dedbe0;
    color: black;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.425);
    border-radius: 30px
}
